* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#D6EBDA;
}
.main{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.athkar{
    width:33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
    padding:20px;
    border: 0px;
    border-radius: 20px;
    background-color: #bedbc4;
    box-shadow: 12px 12px 2px 1px rgba(21, 90, 75, 0.2);
    transition: 0.2s;
}
.reset{
    border: 0px;
    background-color:transparent;
}
svg{
    width:30px;
    fill:#4D8E5B;
    transition: 0.2s;
}

p{
    background-color: #D6EBDA;
    padding: 20px;
    border-radius: 10px;
    width:100%;
    text-align: center;
    font-size: larger;
}
button{
    background-color: #54AC65;
    padding:20px;
    border-radius: 20px;
    border: 0px;
    width: 100%;
    font-size: larger;
    transition: 0.2s;
}

.athkar:hover{
    transform: scale(1.1);
}
button:hover{
    transform: scale(1.1);
}
svg:hover{
    transform: scale(1.1);
}
