* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
    padding:10px;
    height: 100vh;
}
p {
    background-color: aliceblue;
    width:80%;
}
button {
    padding: 20px;
    background-color: darkgreen;
    color:#FFF;
    border-radius: 7px;
    font-size: large;
}

.row {
    display: flex;
    width: 100%;
    padding: 30px;
    gap:10px;
    flex-wrap: nowrap;
    background-color: beige;
}

.athkar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    gap:20px;
    border: 2px solid darkgreen;
    padding:40px;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}
.reset{
    width:50%;
}

